@page
@model MyApp.Namespace.AboutMeModel
@{
    ViewData["Title"] = "Om mig";
}

<h1>Hej</h1>
<p class="stycke">
    Den som har skapat den här coola webbplatsen är jag, Emmeli Wiklund.
    Den är skapad med ASP.NET Core och C# som jag håller på att lära mig.
    Syftet med denna uppgift är att få en grundläggande uppfattning om olika
    tekniker innom ASP.NET core och kunna skapa en enklare webbplats.
    Dessutom ska jag öva på att använda Razor-syntaxen för att kunna 
    skapa dynamiska webbsidor.
</p>
<img class="mandala" src="images/flower.png" alt="halv mandala">