@page
@model MyApp.Namespace.IndexModel
@{
    ViewData["Title"] = "Startsida";
}
<div class="start-page">
    <h2>Välkommen hit</h2>
    <p>Här på startsidan får du se en bild på en liten Igelkott</p>

    <img src="images/igelkott.png" alt="igelkott">
</div>
